body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
    color: grey;
    font-family: 'Open Sans Condensed', Helvetica, sans-serif;
}
q:before,q:after {
    content:'';
}
abbr,acronym { 
    border:0;
}
 



a {
    color: grey;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

p {
   font-family: Helvetica, sans-serif;
   color: #333;
   line-height: 1.8em;
   margin: 2em 0;
}

h1{
    font-size: 2.1em;
    font-weight: bold;
    padding: 2.9em 0 0 0;
    margin: 0 0 0.8em 0;
}
h3{
    font-size: 1.4em;
    margin: 1em 0 0.5em 0;
}
h4{
    font-size: 1em;
    margin: 0.5em 0 0.5em 0;
}

div#navigation{
    background-image: url("../img/bg.png");
    font-family: 'Open Sans Condensed', Helvetica, sans-serif;
    font-size: 1.8em;
    height: 110%;
    margin: 0 2em 0 0;
    width: 155px;
    position: fixed;
    box-shadow: -5px -5px 5px 0px rgba(0,0,0,0.1) inset;
}

ul{
    list-style: none;
    padding: 0.5em 0 0.8em 1.3em;
}
div#content{
    margin: 0 2.5em 3em 13.5em;
    min-width: 25em;
    max-width: 50em;
}
div#emptyspace{
    padding:25em 0;
}
div#bigFatContainer{
    margin: 0 auto;
}

img{
    border-radius: 2px;
}
img#logo{
    opacity: 0.4;
    padding: 0.8em 0 0 1em;
}
img#indicator{
    position: absolute;
    display: inline;
    margin-top: -6.6em;
    margin-left: 132px;
}